*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #dcf4fe;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 550px;
    margin-top: 150px;
    border-radius: 15px;
}

.header {
    background: #ffffff;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h3 {
    margin-bottom: 15px;
    color: #0d80eb;
}

.h4-1 {
    margin-bottom: 10px;
    color: goldenrod;
}

.p-1 {
    margin-bottom: 15px;
    color: gray;
    line-height: 25px;
}

.flex-1 {
    display: flex;
}

.monthly {
    flex-basis: 50%;
    background: #13e3e0;
    padding: 30px;
    border-bottom-left-radius: 10px;
}

.h4-2 {
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold;
}

.dollars {
    color: #ffffff;
    line-height: 45px;
    font-size: 25px;
    font-weight: bold;
}

.span-1 {
    color: aquamarine;
    font-size: 15px;
    padding-left: 7px;
}

.dollars-2 {
    color: #ffffff;
}

button {
    margin-top: 30px;
    width: 215px;
    height: 40px;
    background: yellow;
    color: #ffffff;
    font-weight: bold;
    border-radius: 7px;
    border-style: none;
}

.why-us {
    flex-basis: 50%;
    background: #19f4f0;
    padding: 30px;
    border-bottom-right-radius: 10px;
}

.h4-3 {
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold;
}

.list {
    list-style-type: none;
    color: #fdfafa;
    line-height: 20px;
}